p{
    background-color: green;
    color: aliceblue;
    height: 300px;
    width: 300px;
    border: 20px dotted white;
    margin: 115px 50px 90px 130px;
    padding: 80px 80px;
    border-radius: 80px 150px;
    box-shadow: 50px 50px 120px whitesmoke inset;
}